@use "./base.scss";

// put your custom CSS here!
div#quartz-root {
    max-width: 2000px;
}

.page>#quartz-body {
    grid-template:
        "grid-sidebar-left grid-header grid-sidebar-right"
        "grid-sidebar-left grid-center grid-sidebar-right"
        "grid-sidebar-left grid-footer grid-sidebar-right"/420px auto 420px;
}

.explorer-content ul li>a {
    font-weight: 500;
}